
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome to the NodeTravel!</h2>
    <p>The best place to be</p>

    <a href="/" class="btn btn-lg btn-success">Get Started</a>
    <a href="/contact" class="btn btn-lg btn-success">Contact</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <p>Lorem ipsum dolor sit amet, ad mea tritani ceteros elaboraret. At nec tale paulo. Vis natum ocurreret an, nostro mollis indoctum eu eos. Equidem consulatu disputando ei pri, verear nominavi mediocrem ne vel, ornatus cotidieque vim cu. Mel tation invenire assueverit te, usu apeirian erroribus et, mea te argumentum constituam.</p>

  <p>Mel summo urbanitas disputando id, vix ei brute intellegat. No vis oblique invidunt. Duo quando constituto ut. Duo ubique accusam dissentias te, his iusto simul omittam ex, iuvaret ornatus mea eu. Ius movet accusata moderatius et. Vel sint delenit accusam in, eleifend convenire eam id, id nostrud postulant sit. Mei probatus consequuntur ei.</p>
</div>
